
$languages: 
(
    "sh": "sh",
    "bash": "bash",
    "emacs-lisp": "Emacs Lisp",
    "R": "R",
    "org": "Org",
    "cpp" : "C++",
    "c": "C",
    "html": "HTML",
    "js": "Javascript",
    "javascript": "Javascript",

    "abc": "ABC",
    "asymptote": "Asymptote",
    "awk": "Awk",
    "C": "C",
    "calc": "Calc",
    "clojure": "Clojure",
    "comint": "comint",
    "css": "CSS",
    "D": "D",
    "ditaa": "Ditaa",
    "dot": "DOT",
    "ebnf": "ebnf",
    "forth": "Forth",
    "F90": "Fortran",
    "gnuplot": "Gnuplot",
    "haskell": "Haskell",
    "io": "Io",
    "java": "Java",
    "latex": "LaTex",
    "ledger": "Ledger",
    "ly": "Lilypond",
    "lisp": "Lisp",
    "makefile": "Make",
    "matlab": "Matlab",
    "max": "Maxima",
    "mscgen": "Mscgen",
    "Caml": "Objective",
    "octave": "Octave",  
    "perl": "Perl",
    "picolisp": "Picolisp",
    "plantuml": "PlantUML",
    "python": "Python",
    "ruby": "Ruby",
    "sass": "Sass",
    "scala": "Scala",
    "scheme": "Scheme",
    "screen": "Screen",
    "sed": "Sed",
    "shell": "shell",
    "shen": "Shen",
    "sql": "SQL",
    "sqlite": "SQlite",
    "stan": "Stan",
    "vala": "Vala",
    "axiom": "Axiom",
    "browser": "HTML",
    "cypher": "Neo4j",
    "elixir": "Elixir",
    "request": "http",
    "ipython": "iPython",
    "kotlin": "Kotlin",
    "Favored Erlang  lfe": "Lisp",
    "mongo": "MongoDB",
    "prolog": "Prolog",
    "rec": "rec",
    "ML  sml": "Standard",
    "Translate  translate": "Google",
    "typescript": "Typescript",
    "rust": "Rust"
);

@each $key, $value in $languages {

    .org-src-container>pre.src-#{$key}:before {
        content: '#{$value}';
    }

}