h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-weight: 700;
}

h1 {
    font-size: 2.50rem
}

h2 {
    font-size: 2.00rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1.5rem
}

h6 {
    font-size: 1.5rem
}


a {
    color: $color-text;
    background-color: $color-bg-alt;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border: 1px solid $color-border;
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid $color-border;
    border-right: 0;
    border-left: 0;
    padding: 0.5em;
}

th {
    background-color: $color-bg-alt;
}