body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $color-bg;
}

#content {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

// h1  {
//     .title {

//     }
// }

#postamble {
    clear: both;
    text-align: center;
}

#footnotes{
    clear: both;
    width: 50rem;
    float: right;
    position: relative;
    padding-left: 10rem;
}
    
#table-of-contents {
    width: 25rem;
    float: left;
    position: fixed;
    max-height: calc(100vh - 120px);
    padding-left: 4rem;
    overflow: auto;
}

.outline-2 {
    width: 50rem;
    float: right;
    position: relative;
    padding-left: 10rem;
}
