// Font
$font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
// size
$font-size: 16px;

// Color
$color-bg:      #ECEFF4 !default; // page background color
$color-bg-alt:  #E5E9F0 !default; // element background color
$color-border:  #D8DEE9 !default;
$color-text:    #4C566A !default;
$color-primary: #88C0D0 !default;

// Code
$monospace: Lucida Console, monospace;
$code-size: 80%;
